= form_for(@cost) do |f|
  - if @cost.errors.any?
    #error_explanation
      h2
        = pluralize(@cost.errors.count, "error")
        |  prohibited this cost from being saved:
      ul
        - @cost.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :price
    br
    = f.number_field :price
  .field
    = f.label :unit
    br
    = f.text_field :unit
  .field
    = f.label :quantity
    br
    = f.number_field :quantity
  .field
    = f.label :user_id
    br
    = f.text_field :user_id
  .field
    = f.label :product_id
    br
    = f.text_field :product_id
  .field
    = f.label :shop_id
    br
    = f.text_field :shop_id
  .actions
    = f.submit
