/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require_self
 */

@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "font-awesome-sprockets";
@import "font-awesome";

.margin {
	margin: $grid-gutter-width / 4;
}

.margin-top {
	margin-top: $grid-gutter-width / 4;
}

.margin-right {
	margin-right: $grid-gutter-width / 4;
}

.margin-bottom {
	margin-bottom: $grid-gutter-width / 4;
}

.margin-left {
	margin-left: $grid-gutter-width / 4;
}

/*
================================================================================
	Cabbage style
================================================================================
*/

.cbg-header {
	background: #fff;
	margin-bottom: $grid-gutter-width;
	border-top: 5px solid $green;
	@include box-shadow(0 2px 1px darken($border-color, 5));
}

.cbg-header-logo {
	height: 30px;
}

.cbg-navbar-form {
	@include navbar-vertical-align($input-height-base);
}

.cbg-breadcrumb {
	padding: 0;
	margin-bottom: 0;
	list-style: none;

	li {
		display: inline-block;

		+ li:before {
			content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 5px;
			color: $breadcrumb-color;
		}
	}

	> .active {
	color: $breadcrumb-active-color;
	}
}

.cbg-btn-group {
	margin: -$grid-gutter-width / 8;

	> .btn {
		margin: $grid-gutter-width / 8;
	}
}

.cbg-from-prefecture {
	display: block;
	margin: -20px;

	> .cbg-from-prefecture-row {

		> a,
		> span {
			color: $navy-tint-30;
			display: inline-block;
			text-align: center;
			width: (1 / 6) * 100%;
			height: 50px;
			vertical-align: top;
			padding: 15px 0;
			border-bottom: 1px solid $border-color;

			& + a,
			& + span {
				border-left: 1px solid $border-color;
			}
		}

		&:last-child {

			> a,
			> span {
				border-bottom: 0;
			}
		}

		> a:hover {
			background: $green;
			color: #fff;
			text-decoration: none;
		}
	}

}

.cbg-area-table {

	> tbody {

		> tr {

			> th {
				width: 1 / 6 * 100%;
			}
		}
	}
}

.panel-body {

	> .cbg-area-table {

		> tbody {

			> tr:first-child {

				th,
				td {
					border-top: 0;
				}
			}
		}
	}
}

.cbg-area-list {
	padding: 0;
	margin-bottom: 0;
	list-style: none;

	> li {
		display: inline-block;
		width: 160px;

		> a {
			display: inline-block;
			padding: 5px 20px;
			@include border-radius(30px);

			&:hover {
				background: $brand-primary;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}

.cbg-product-list {
	padding: 0;
	margin: 0 -$grid-gutter-width / 2;
	list-style: none;
	text-align: center;

	> li {
		width: $container-large-desktop / 6;
		height: $container-large-desktop / 6;
		padding: $grid-gutter-width / 2;
		display: inline-block;

		> a {
			@include box-sizing(border-box);
			display: block;
			height: 100%;
			padding-top: (($container-large-desktop / 6) - $grid-gutter-width) / 2 - ($font-size-large * $line-height-base) / 2;
			background: #fff;
			font-size: $font-size-large;
			text-align: center;
			@include border-radius($container-desktop);
			@include box-shadow(0 2px 1px darken($border-color, 5));

			&:hover {
				background: $brand-primary;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}